.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* color: var(--secondary-text-color);
  background-color: var(--secondary-background-color); */
}

.table-section,
.food-section {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.about-image-container {
  width: 100%;
}

.about-image {
  order: 1;
  width: 100%;
  height: 300px;
  object-fit: cover; /* preserve aspect ratio while covering the container */
  display: block; /* ensure images don't have extra space underneath */
}

.about-title {
  order: 2;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0;
  padding: 0 30px;
}

.about-description {
  order: 3;
  line-height: 1.5;
  margin-bottom: 40px;
}

@media screen and (min-width: 550px) {
  .about-image {
    height: 400px;
  }

  .about-title,
  .about-description {
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .about-image {
    height: 500px;
  }

  .about-title,
  .about-description {
    padding: 0 80px;
  }
}

@media screen and (min-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }

  .table-section {
    flex-direction: row-reverse;
    margin-bottom: 80px;
  }

  .food-section {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .about-image-container {
    width: 48%;
  }

  .about-image {
    height: 300px;
  }

  .about-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
  }
}
